[program:gunicorn-graphite]
command=/usr/local/bin/gunicorn -b 0.0.0.0:8080 -u {{ nginx_user }} -g {{ nginx_user }} --log-file=/opt/graphite/storage/log/webapp/gunicorn.log graphite_wsgi:application
process_name=%(program_name)s
autostart=true
autorestart=true
stopsignal=QUIT
user={{ nginx_user }}
environment = PYTHONPATH='/opt/graphite/webapp'
directory=/opt/graphite/webapp/graphite


[program:carbon-cache]
command=/usr/bin/python /opt/graphite/bin/carbon-cache.py --debug start
process_name=%(program_name)s
autostart=true
autorestart=true
stopsignal=QUIT
